.u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 53px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 590px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 250px;
  width: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 102px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 30px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 185px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 553px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 128px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.6;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 40px;
  width: 40px;
  color: rgb(25, 62, 184) !important;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: -50px 0 0 50px;
}

.u-section-1 .u-icon-2 {
  height: 40px;
  width: 40px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: -40px 0 0 50px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 282px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 304px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 716px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 45px;
  width: 267px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 444px;
  width: 347px;
  margin: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-text-6 {
  margin: 0 15px;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  border-style: none;
  background-image: none;
  font-weight: bold;
  margin: 10px auto 0 15px;
  padding: 8px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 486px;
  }

  .u-section-1 .u-image-1 {
    height: 238px;
    width: 260px;
    background-position: 50% 50%;
    margin-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 456px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 33px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -47px;
    margin-left: 55px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 276px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 251px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 590px;
  }

  .u-section-1 .u-form-1 {
    width: 273px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 3px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 15px 0;
  }

  .u-section-1 .u-image-1 {
    height: 250px;
    width: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 176px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 267px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 577px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1448px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 44px;
  }

  .u-section-1 .u-image-1 {
    height: 300px;
    width: 489px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 302px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -43px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 401px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 433px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 250px;
    width: 300px;
    margin-top: 102px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 553px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 128px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -50px;
    margin-left: 50px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 304px;
  }

  .u-section-1 .u-form-1 {
    width: 347px;
    margin-left: 0;
    margin-right: 0;
  }
}