 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/20211203133256_11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 0 8px rgba(0,0,0,1);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  width: 582px;
  margin: 116px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1.5rem;
  text-shadow: 0 0 8px rgba(0,0,0,1);
  width: 812px;
  margin: 94px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: left;
  font-size: 3rem;
  text-shadow: 0 0 8px rgba(0,0,0,1);
  width: 386px;
  margin: 17px auto 48px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 135px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1596px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1472px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1339px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1001px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 380px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -188px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 381px;
}

.u-section-4 .u-text-1 {
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -263px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-4 .u-image-1 {
    width: 470px;
    height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-4 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 134px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 29px auto;
}.u-section-6 .u-sheet-1 {
  min-height: 381px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 381px;
}

.u-section-7 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 381px;
}

.u-section-8 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-8 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-8 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-8 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-8 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 381px;
}

.u-section-9 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-9 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-9 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-9 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 381px;
}

.u-section-10 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -238px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-10 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-10 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-10 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 381px;
}

.u-section-11 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-11 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -188px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-11 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-11 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-11 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 0;
  }

  .u-section-11 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 381px;
}

.u-section-12 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -263px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-12 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-12 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-12 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
  }

  .u-section-12 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 381px;
}

.u-section-13 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-13 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-13 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-13 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-13 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
  }

  .u-section-13 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 381px;
}

.u-section-14 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-14 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-14 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-14 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-14 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-14 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
  }

  .u-section-14 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 381px;
}

.u-section-15 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-15 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-15 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-15 .u-image-1 {
    width: 470px;
    height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-15 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-15 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-15 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-15 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-15 .u-text-1 {
    margin-left: 0;
  }

  .u-section-15 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 381px;
}

.u-section-16 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-16 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-16 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-16 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-16 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-16 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 0;
  }

  .u-section-16 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 134px;
}

.u-section-17 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
  margin: 29px auto;
}.u-section-18 .u-sheet-1 {
  min-height: 381px;
}

.u-section-18 .u-text-1 {
  background-image: none;
  text-align: start;
  margin: 30px 30px 0 600px;
}

.u-section-18 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -263px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-18 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-18 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-18 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: -138px;
  }
}

@media (max-width: 991px) {
  .u-section-18 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-18 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-18 .u-image-1 {
    width: 360px;
    height: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-18 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-18 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-18 .u-image-1 {
    width: 270px;
    height: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-sheet-1 {
    min-height: 156px;
  }

  .u-section-18 .u-text-1 {
    margin-left: 0;
  }

  .u-section-18 .u-image-1 {
    width: 170px;
    height: 96px;
  }
}