.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-group-1 {
  min-height: 900px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 400px 415px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  animation-duration: 3000ms;
  font-size: 3rem;
  margin: 11px 415px 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  animation-duration: 1000ms;
  margin: -41px 210px 0 650px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 8px;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  animation-duration: 1000ms;
  font-size: 1.25rem;
  margin: 8px 415px 0;
}

.u-section-1 .u-group-2 {
  width: 410px;
  min-height: 140px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 5px rgba(0,0,0,1);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0);
  font-size: 1.26667rem;
  font-weight: 700;
  background-image: none;
  margin: 10px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.13333rem;
  border-style: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  animation-duration: 1000ms;
  margin: 20px auto 0;
  padding: 9px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-group-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 350px;
    margin-left: 315px;
    margin-right: 315px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 315px;
    margin-right: 315px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 110px;
    margin-left: 550px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 315px;
    margin-right: 315px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 355px;
    padding: 8px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 205px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 205px;
    margin-left: 205px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 440px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 205px;
    margin-left: 205px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 245px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-1 .u-group-2 {
    min-height: 160px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-group-1 {
    min-height: 700px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 100px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.66667rem;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-3 {
    width: 220px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    letter-spacing: 7px;
    width: 250px;
    margin-top: -48px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 44px;
    min-height: 208px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
    margin-left: auto;
  }
}.u-section-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 950px;
}

.u-section-2 .u-slider-1 {
  width: 725px;
  min-height: 400px;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  left: auto;
  right: 21px;
  bottom: 26px;
}

.u-section-2 .u-image-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-video-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: 0;
  top: 172px;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: auto;
  top: 172px;
  position: absolute;
  right: 0;
}

.u-section-2 .u-group-1 {
  width: 660px;
  min-height: 334px;
  background-image: none;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,1);
  animation-duration: 1000ms;
  margin: -39px auto 60px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 24px;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.13333rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 6px 30px 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    right: 29px;
  }

  .u-section-2 .u-btn-1 {
    padding: 8px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 656px;
  }

  .u-section-2 .u-carousel-indicators-1 {
    right: 18px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    min-height: 317px;
    margin-top: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    bottom: 45px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-carousel-control-1 {
    right: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-carousel-indicators-1 {
    right: 14px;
    bottom: 21px;
  }

  .u-section-2 .u-group-1 {
    min-height: 450px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    line-height: 1.7;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    margin-left: auto;
  }
}.u-section-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 950px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 317px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 67px;
  height: 64px;
  margin: 41px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 37px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 197px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 59px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 370px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  height: 300px;
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 26px 0 20px;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  margin: 20px 40px 0 20px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 85px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 114px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 400px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 61px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 40px;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  animation-duration: 1000ms;
  background-image: none;
  margin: 0 auto;
  padding: 8px 29px 8px 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 178px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 49px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 305px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 170px;
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 20px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 70px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 94px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 255px;
  }

  .u-section-3 .u-container-layout-7 {
    padding: 20px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 205px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 56px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 282px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 113px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 80px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 216px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 39px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 84px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 403px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 123px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 120px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 162px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 194px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 53px;
  }

  .u-section-3 .u-image-2 {
    height: 266px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 76px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 102px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}.u-section-4 {
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 876px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  width: 300px;
  margin: 50px auto 0;
}

.u-section-4 .u-group-1 {
  min-height: 103px;
  margin-bottom: 0;
  margin-top: 50px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 63px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 20px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 40px;
  width: 40px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: -39px 0 0 50px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 63px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 20px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 40px;
  width: 40px;
  color: rgb(25, 62, 184);
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: -40px 0 0 50px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 1px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: -20px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 520px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 15px;
}

.u-section-4 .u-image-1 {
  height: 275px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-6 {
  margin: 15px 20px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 15px auto 0;
  padding: 8px 30px;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 520px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 0 15px;
}

.u-section-4 .u-image-2 {
  height: 275px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 20px 0;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  margin: 15px 20px 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 15px auto 0;
  padding: 8px 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 520px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 15px;
}

.u-section-4 .u-image-3 {
  height: 275px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-10 {
  margin: 15px 20px 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 40px auto 0;
  padding: 8px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-4 .u-group-1 {
    min-height: 50px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1px;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
    margin-top: 35px;
    margin-bottom: -119px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 553px;
  }

  .u-section-4 .u-image-1 {
    height: 227px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 48px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 553px;
  }

  .u-section-4 .u-image-2 {
    height: 227px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 48px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 429px;
  }

  .u-section-4 .u-image-3 {
    height: 227px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-group-1 {
    min-height: 125px;
    width: 720px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-image-1 {
    height: 174px;
    width: 217px;
    margin-left: -5px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-image-2 {
    height: 174px;
    width: 217px;
    margin-left: -5px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 15px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-image-3 {
    height: 174px;
    width: 217px;
    margin-left: -5px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 300px;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 300px;
    width: 535px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1545px;
  }

  .u-section-4 .u-group-1 {
    min-height: 257px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 491px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
    width: 330px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: -387px;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
    width: auto;
    margin-left: initial;
  }

  .u-section-4 .u-text-8 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
    width: 330px;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 5px;
    margin-right: 5px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 978px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 300px;
  margin: 30px auto 0;
}

.u-section-5 .u-group-1 {
  width: 250px;
  min-height: 50px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 9px 5px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 289px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 0 0 20px;
}

.u-section-5 .u-image-1 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-5 .u-btn-2 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-5 .u-btn-3 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 483px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px;
}

.u-section-5 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-table-header-1 {
  background-image: none;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.13333rem;
  font-weight: 700;
}

.u-section-5 .u-table-cell-1 {
  background-image: none;
}

.u-section-5 .u-table-cell-2 {
  background-image: none;
}

.u-section-5 .u-table-cell-3 {
  background-image: none;
}

.u-section-5 .u-table-cell-4 {
  background-image: none;
}

.u-section-5 .u-table-cell-5 {
  background-image: none;
}

.u-section-5 .u-table-cell-6 {
  background-image: none;
}

.u-section-5 .u-table-cell-7 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-8 {
  background-image: none;
}

.u-section-5 .u-table-cell-9 {
  background-image: none;
}

.u-section-5 .u-table-cell-10 {
  background-image: none;
}

.u-section-5 .u-table-cell-11 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-12 {
  background-image: none;
}

.u-section-5 .u-table-cell-13 {
  background-image: none;
}

.u-section-5 .u-table-cell-14 {
  background-image: none;
}

.u-section-5 .u-table-cell-15 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-16 {
  background-image: none;
}

.u-section-5 .u-table-cell-17 {
  background-image: none;
}

.u-section-5 .u-table-cell-18 {
  background-image: none;
}

.u-section-5 .u-table-cell-19 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-21 {
  background-image: none;
}

.u-section-5 .u-table-cell-22 {
  background-image: none;
}

.u-section-5 .u-table-cell-23 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-26 {
  background-image: none;
}

.u-section-5 .u-table-cell-27 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-30 {
  background-image: none;
}

.u-section-5 .u-table-cell-31 {
  background-image: none;
  border-style: solid;
}

.u-section-5 .u-table-cell-34 {
  background-image: none;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 211px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 1px 30px 30px;
}

.u-section-5 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-table-header-2 {
  background-image: none;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.13333rem;
  font-weight: 700;
}

.u-section-5 .u-table-cell-38 {
  background-image: none;
}

.u-section-5 .u-table-cell-39 {
  background-image: none;
}

.u-section-5 .u-table-cell-40 {
  background-image: none;
}

.u-section-5 .u-table-cell-41 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-5 .u-table-cell-42 {
  background-image: none;
  font-size: 1.26667rem;
}

.u-section-5 .u-table-cell-43 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-5 .u-table-cell-44 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-5 .u-table-cell-45 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-5 .u-table-cell-46 {
  background-image: none;
}

.u-section-5 .u-table-cell-47 {
  background-image: none;
}

.u-section-5 .u-table-cell-48 {
  background-image: none;
}

.u-section-5 .u-table-cell-49 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-5 .u-table-cell-50 {
  background-image: none;
}

.u-section-5 .u-table-cell-51 {
  background-image: none;
}

.u-section-5 .u-table-cell-52 {
  background-image: none;
}

.u-section-5 .u-table-cell-53 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-5 .u-table-cell-54 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-55 {
  background-image: none;
}

.u-section-5 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-5 .u-table-cell-56 {
  background-image: none;
}

.u-section-5 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 211px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-5 .u-text-3 {
  width: 282px;
  margin: 0 auto;
}

.u-section-5 .u-image-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 255px;
  margin: 10px auto 0;
}

.u-section-5 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: 15px auto 0;
  padding: 8px 60px;
}

.u-section-5 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  align-self: center;
  margin: 15px auto 0;
  padding: 8px 43px;
}

.u-section-5 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 15px auto 0;
  padding: 8px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-5 .u-group-1 {
    width: 240px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-5 .u-table-2 {
    width: 612px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-5 .u-table-cell-54 {
    font-weight: 700;
    font-size: 1.13333rem;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 142px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-5 .u-text-3 {
    width: 222px;
    margin-top: -10px;
  }

  .u-section-5 .u-image-4 {
    height: 89px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-5 .u-table-2 {
    width: 426px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-5 .u-text-3 {
    width: 156px;
    margin-top: 0;
  }

  .u-section-5 .u-image-4 {
    width: 234px;
    height: 82px;
    margin-top: 15px;
  }

  .u-section-5 .u-btn-5 {
    margin-left: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -140px;
    margin-left: 210px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 240px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -140px;
    margin-right: 90px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 121px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-table-1 {
    width: 520px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -37px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-5 .u-table-2 {
    width: 520px;
    margin-top: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    width: 300px;
  }

  .u-section-5 .u-image-4 {
    margin-right: auto;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 15px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1594px;
  }

  .u-section-5 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -459px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-image-2 {
    margin-left: 110px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 140px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 10px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 41px;
  }

  .u-section-5 .u-table-1 {
    width: 320px;
    margin-bottom: 0;
  }

  .u-section-5 .u-table-2 {
    width: 330px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 978px;
}

.u-section-6 .u-group-1 {
  width: 266px;
  min-height: 50px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 9px 16px 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 50px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 485px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 0 0 20px;
}

.u-section-6 .u-image-1 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-6 .u-btn-1 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-6 .u-btn-2 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-6 .u-image-3 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-6 .u-btn-3 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 289px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-table-1 {
  width: 872px;
  margin: 0;
}

.u-section-6 .u-table-header-1 {
  background-image: none;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.13333rem;
  font-weight: 700;
}

.u-section-6 .u-table-cell-1 {
  background-image: none;
}

.u-section-6 .u-table-cell-2 {
  background-image: none;
}

.u-section-6 .u-table-cell-3 {
  background-image: none;
}

.u-section-6 .u-table-cell-4 {
  background-image: none;
}

.u-section-6 .u-table-cell-5 {
  background-image: none;
}

.u-section-6 .u-table-cell-6 {
  background-image: none;
}

.u-section-6 .u-table-cell-7 {
  background-image: none;
  border-style: solid;
}

.u-section-6 .u-table-cell-8 {
  background-image: none;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
}

.u-section-6 .u-table-cell-10 {
  background-image: none;
}

.u-section-6 .u-table-cell-11 {
  background-image: none;
  border-style: solid;
}

.u-section-6 .u-table-cell-12 {
  background-image: none;
}

.u-section-6 .u-table-cell-13 {
  background-image: none;
}

.u-section-6 .u-table-cell-15 {
  background-image: none;
  border-style: solid;
}

.u-section-6 .u-table-cell-16 {
  background-image: none;
}

.u-section-6 .u-table-cell-17 {
  background-image: none;
}

.u-section-6 .u-table-cell-19 {
  background-image: none;
  border-style: solid;
}

.u-section-6 .u-table-cell-21 {
  background-image: none;
}

.u-section-6 .u-table-cell-23 {
  background-image: none;
  border-style: solid;
}

.u-section-6 .u-table-cell-27 {
  background-image: none;
  border-style: solid;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 211px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 1px 30px 30px;
}

.u-section-6 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-table-header-2 {
  background-image: none;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.13333rem;
  font-weight: 700;
}

.u-section-6 .u-table-cell-30 {
  background-image: none;
}

.u-section-6 .u-table-cell-31 {
  background-image: none;
}

.u-section-6 .u-table-cell-32 {
  background-image: none;
}

.u-section-6 .u-table-cell-33 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-6 .u-table-cell-34 {
  background-image: none;
  font-size: 1.26667rem;
}

.u-section-6 .u-table-cell-35 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-6 .u-table-cell-36 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-6 .u-table-cell-37 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-6 .u-table-cell-38 {
  background-image: none;
}

.u-section-6 .u-table-cell-39 {
  background-image: none;
}

.u-section-6 .u-table-cell-40 {
  background-image: none;
}

.u-section-6 .u-table-cell-41 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-6 .u-table-cell-42 {
  background-image: none;
}

.u-section-6 .u-table-cell-43 {
  background-image: none;
}

.u-section-6 .u-table-cell-44 {
  background-image: none;
}

.u-section-6 .u-table-cell-45 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-6 .u-table-cell-46 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-6 .u-table-cell-47 {
  background-image: none;
}

.u-section-6 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-6 .u-table-cell-48 {
  background-image: none;
}

.u-section-6 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 211px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-2 {
  width: 282px;
  margin: 0 auto;
}

.u-section-6 .u-image-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 255px;
  margin: 10px auto 0;
}

.u-section-6 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: 15px auto 0;
  padding: 8px 60px;
}

.u-section-6 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  align-self: center;
  margin: 15px auto 0;
  padding: 8px 43px;
}

.u-section-6 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 15px auto 0;
  padding: 8px 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-6 .u-group-1 {
    width: 240px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 24px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 54px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-6 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-6 .u-table-2 {
    width: 612px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-6 .u-table-cell-46 {
    font-weight: 700;
    font-size: 1.13333rem;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 142px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: 222px;
  }

  .u-section-6 .u-image-4 {
    height: 89px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 10px 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-image-2 {
    margin-left: 2px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 32px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-table-1 {
    height: 409px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-6 .u-table-2 {
    width: 426px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-6 .u-text-2 {
    width: 156px;
  }

  .u-section-6 .u-image-4 {
    width: 234px;
    height: 82px;
    margin-top: 15px;
  }

  .u-section-6 .u-btn-4 {
    padding-left: 63px;
    padding-right: 63px;
  }

  .u-section-6 .u-btn-5 {
    margin-top: 15px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -2581px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -140px;
    margin-left: 210px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 240px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -140px;
    margin-right: 90px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 121px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-6 .u-table-2 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    width: 300px;
  }

  .u-section-6 .u-image-4 {
    margin-right: auto;
  }

  .u-section-6 .u-btn-4 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -592px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 110px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 140px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 10px;
  }

  .u-section-6 .u-btn-3 {
    margin-right: 41px;
  }

  .u-section-6 .u-table-1 {
    height: auto;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-table-2 {
    width: 330px;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1013px;
}

.u-section-7 .u-group-1 {
  width: 250px;
  min-height: 50px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 200px;
  margin: 9px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 289px;
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 0 0 20px;
}

.u-section-7 .u-image-1 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-7 .u-btn-1 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-image-2 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-7 .u-btn-2 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-image-3 {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 10px auto 0;
}

.u-section-7 .u-btn-3 {
  font-size: 1.26667rem;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 289px;
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-table-1 {
  width: 872px;
  margin: 0;
}

.u-section-7 .u-table-header-1 {
  background-image: none;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.13333rem;
  font-weight: 700;
}

.u-section-7 .u-table-cell-1 {
  background-image: none;
}

.u-section-7 .u-table-cell-2 {
  background-image: none;
}

.u-section-7 .u-table-cell-3 {
  background-image: none;
}

.u-section-7 .u-table-cell-4 {
  background-image: none;
}

.u-section-7 .u-table-cell-5 {
  background-image: none;
}

.u-section-7 .u-table-cell-6 {
  background-image: none;
}

.u-section-7 .u-table-cell-7 {
  background-image: none;
}

.u-section-7 .u-table-cell-8 {
  background-image: none;
}

.u-section-7 .u-table-cell-9 {
  background-image: none;
}

.u-section-7 .u-table-cell-11 {
  background-image: none;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 211px;
}

.u-section-7 .u-container-layout-4 {
  padding: 0 1px 30px 30px;
}

.u-section-7 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-table-header-2 {
  background-image: none;
  letter-spacing: 0px;
  text-transform: none;
  font-size: 1.13333rem;
  font-weight: 700;
}

.u-section-7 .u-table-cell-14 {
  background-image: none;
}

.u-section-7 .u-table-cell-15 {
  background-image: none;
}

.u-section-7 .u-table-cell-16 {
  background-image: none;
}

.u-section-7 .u-table-cell-17 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-7 .u-table-cell-18 {
  background-image: none;
  font-size: 1.26667rem;
}

.u-section-7 .u-table-cell-19 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-7 .u-table-cell-20 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-7 .u-table-cell-21 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-7 .u-table-cell-22 {
  background-image: none;
  font-size: 1.26667rem;
}

.u-section-7 .u-table-cell-23 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-7 .u-table-cell-24 {
  background-image: none;
  font-size: 1.26667rem;
  font-weight: 700;
}

.u-section-7 .u-table-cell-25 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-7 .u-table-cell-26 {
  background-image: none;
}

.u-section-7 .u-table-cell-27 {
  background-image: none;
}

.u-section-7 .u-table-cell-28 {
  background-image: none;
}

.u-section-7 .u-table-cell-29 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-7 .u-table-cell-30 {
  background-image: none;
}

.u-section-7 .u-table-cell-31 {
  background-image: none;
}

.u-section-7 .u-table-cell-32 {
  background-image: none;
}

.u-section-7 .u-table-cell-33 {
  background-image: none;
  font-size: 1.13333rem;
}

.u-section-7 .u-table-cell-34 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
}

.u-section-7 .u-table-cell-35 {
  background-image: none;
}

.u-section-7 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-7 .u-table-cell-36 {
  background-image: none;
}

.u-section-7 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
  font-size: 2em;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 419px;
}

.u-section-7 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-7 .u-text-2 {
  width: 282px;
  margin: 68px auto 0;
}

.u-section-7 .u-text-3 {
  width: 282px;
  margin: 20px auto 0;
}

.u-section-7 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  animation-duration: 1000ms;
  align-self: center;
  margin: 20px auto 0;
  padding: 8px 52px;
}

.u-section-7 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  align-self: center;
  margin: 15px auto 0;
  padding: 8px 35px;
}

.u-section-7 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 15px auto 0;
  padding: 8px 57px 8px 56px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-7 .u-group-1 {
    width: 240px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-7 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-7 .u-table-2 {
    width: 612px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-table-cell-34 {
    font-weight: 700;
    font-size: 1.13333rem;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 142px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: 222px;
  }

  .u-section-7 .u-text-3 {
    width: 222px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-7 .u-table-2 {
    width: 426px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-7 .u-text-2 {
    width: 156px;
  }

  .u-section-7 .u-text-3 {
    width: 192px;
  }

  .u-section-7 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 80px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 100px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -140px;
    margin-left: 210px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 240px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -140px;
    margin-right: 90px;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 121px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-table-1 {
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-7 .u-table-2 {
    width: 520px;
    margin-top: 30px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    width: 300px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 15px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-7 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -591px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 110px;
  }

  .u-section-7 .u-btn-2 {
    margin-left: 140px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 10px;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 41px;
  }

  .u-section-7 .u-table-1 {
    margin-bottom: -6px;
    width: 320px;
  }

  .u-section-7 .u-table-2 {
    width: 330px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}