.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .embed-responsive-1 {
    width: 100%;
    left: 0%;
    height: 1671%;
    top: -786%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 1280%;
    top: -590%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 960%;
    top: -430%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 604%;
    top: -252%;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2025-08-21_20h39_41.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 784px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 160px;
  object-position: 0% 50%;
  margin: 71px auto 0;
}

.u-section-2 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  background-image: none;
  font-size: 1.25rem;
  width: 600px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  width: 699px;
  margin: 155px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 105px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 152px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-image-1 {
    height: 71px;
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/2025-08-22_20h49_06.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 700px;
}

.u-section-3 .u-text-1 {
  line-height: 1.6;
  font-size: 1.5rem;
  margin: 199px 0 0 1397px;
}

.u-section-3 .u-text-2 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  background-image: none;
  font-size: 1.25rem;
  margin: 26px 0 60px 1170px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 201px;
    margin-right: 50px;
    margin-left: 417px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 53px;
    margin-left: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 247px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 67px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2025-08-22_21h05_52.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 700px;
}

.u-section-4 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 60px 1233px 0 50px;
}

.u-section-4 .u-text-2 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  background-image: none;
  font-size: 1.25rem;
  margin: 0 1420px 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 52px;
    margin-right: 303px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 639px;
    margin-bottom: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 75px;
    margin-right: 133px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 469px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 289px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-4 .u-text-2 {
    width: 251px;
    margin: 0 auto 59px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2025-08-22_21h20_37.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 700px;
}

.u-section-5 .u-text-1 {
  line-height: 1.6;
  font-size: 1.875rem;
  margin: 60px 50px 0 1370px;
}

.u-section-5 .u-text-2 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  background-image: none;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 50px 60px 1270px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 106px;
    margin-left: 372px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 202px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 97px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/2025-08-22_21h38_37.png");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 784px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.6;
  width: 699px;
  margin: 231px auto 0;
}

.u-section-6 .u-text-2 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-size: 1.25rem;
  width: 739px;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 52px;
  width: 570px;
  margin: 65px auto 60px;
}

.u-section-6 .u-input-1 {
  background-image: none;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 172px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    margin-top: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 118px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 2px;
  }

  .u-section-6 .u-form-1 {
    height: 117px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}