 .u-section-1 {
  background-image: url("images/20211231119010653_11.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 957px;
}

.u-section-1 .u-group-1 {
  width: 614px;
  min-height: 272px;
  margin: 99px auto 0;
}

.u-section-1 .u-image-1 {
  width: 122px;
  height: 122px;
  text-align: center;
  margin: 22px auto 0;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 127px;
  text-align: center;
  margin: -11px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-align: center;
  margin: -13px 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 103px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: center;
  width: 614px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-1 .u-image-3 {
  width: 231px;
  height: 231px;
  margin: 57px auto 0 211px;
}

.u-section-1 .u-text-4 {
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -208px 769px 0 281px;
}

.u-section-1 .u-text-5 {
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -25px 457px 0 541px;
}

.u-section-1 .u-image-4 {
  width: 121px;
  height: 121px;
  margin: 4px 309px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 121px;
  height: 121px;
  margin: -121px 468px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 669px;
    margin-left: 181px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 357px;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 559px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 247px;
    margin-left: 331px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 120px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 450px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 157px;
    margin-left: 241px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 419px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 76px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 109px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 250px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 57px;
    margin-left: 141px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 219px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 219px;
  }
} .u-section-2 {
  background-image: url("images/20211016123141_1.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 1032px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 26px 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/20211016202627_1.jpg");
  min-height: 317px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 317px;
  background-image: url("images/Pngtreeoldtexturedparchmentscroll_54967853.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 26px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 13px 25px 0;
}

.u-section-2 .u-image-3 {
  min-height: 317px;
  background-image: url("images/Training.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 317px;
  background-image: url("images/Pngtreeoldtexturedparchmentscroll_54967853.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 55px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: none;
  margin: 20px 30px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  width: 274px;
  margin: 13px auto 0;
}

.u-section-2 .u-image-5 {
  background-image: url("images/20211020111311_1.jpg");
  background-position: 50% 50%;
  min-height: 317px;
}

.u-section-2 .u-container-layout-5 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-2 .u-image-6 {
  min-height: 317px;
  background-image: url("images/Pngtreeoldtexturedparchmentscroll_54967853.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 25px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 13px 23px 0;
}

.u-section-2 .u-text-7 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  text-align: center;
  margin: 30px auto 0;
}

.u-section-2 .u-image-7 {
  width: 246px;
  height: 80px;
  margin: 29px 182px 0 auto;
}

.u-section-2 .u-image-8 {
  width: 250px;
  height: 81px;
  margin: -79px 428px 0 auto;
}

.u-section-2 .u-image-9 {
  width: 245px;
  height: 79px;
  margin: -79px auto 60px 217px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 261px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 751px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -583px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 252px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 200px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-2 .u-image-1 {
    min-height: 200px;
  }

  .u-section-2 .u-image-2 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    min-height: 200px;
  }

  .u-section-2 .u-image-4 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    width: 240px;
  }

  .u-section-2 .u-image-5 {
    min-height: 200px;
  }

  .u-section-2 .u-image-6 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2017px;
  }

  .u-section-2 .u-image-1 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 450px;
  }

  .u-section-2 .u-image-3 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 450px;
  }

  .u-section-2 .u-image-5 {
    min-height: 450px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    margin-right: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-2 .u-image-1 {
    min-height: 283px;
  }

  .u-section-2 .u-image-2 {
    min-height: 283px;
  }

  .u-section-2 .u-image-3 {
    min-height: 283px;
  }

  .u-section-2 .u-image-4 {
    min-height: 283px;
  }

  .u-section-2 .u-image-5 {
    min-height: 283px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 94px;
  }

  .u-section-2 .u-image-8 {
    margin-right: 90px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 95px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/steamcover.png");
  min-height: 689px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 689px;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 0;
}

.u-section-3 .u-text-1 {
  font-family: "Maven Pro";
  font-size: 3rem;
  font-weight: 400;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  text-align: left;
  margin: 101px 102px 0 694px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 400;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  text-align: left;
  margin: 24px 47px 0 694px;
}

.u-section-3 .u-image-1 {
  height: 54px;
  text-align: left;
  width: 530px;
  margin: 14px -4px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
    min-height: 447px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-image-1 {
    height: 46px;
    width: 454px;
    margin-right: 0;
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 609px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 35px;
    width: 348px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 611px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-3 .u-text-1 {
    width: 321px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 321px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-right: 106px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 377px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 34px;
    width: 340px;
    margin-right: 0;
  }
}