.u-section-1 {
  background-image: url("images/d347f18471606ff2fff9f98b5431694dd643ab44c135c1ba2e9f86f78192627807e31379af34f97b8dee91a55211513c0a795411b8e01dababa8a7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-text-1 {
  width: 300px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0;
}

.u-section-1 .u-list-1 {
  min-height: 595px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: auto;
  width: 1140px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: normal;
  margin: 12px 15px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: normal;
  margin: 12px 15px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 240px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: normal;
  margin: 12px 15px 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-list-1 {
    min-height: 491px;
    margin-bottom: 47px;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    padding: 8px 33px;
  }

  .u-section-1 .u-image-2 {
    height: 198px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    padding: 8px 33px;
  }

  .u-section-1 .u-image-3 {
    height: 198px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    padding: 8px 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1128px;
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 227px;
  }

  .u-section-1 .u-image-2 {
    height: 227px;
  }

  .u-section-1 .u-image-3 {
    height: 227px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1516px;
    grid-template-columns: 100%;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 341px;
  }

  .u-section-1 .u-image-2 {
    height: 341px;
  }

  .u-section-1 .u-image-3 {
    height: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-1 .u-list-1 {
    min-height: 1204px;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
  }

  .u-section-1 .u-image-2 {
    height: 215px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-3 {
    height: 215px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: url("images/mt-fuji.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 588px;
}

.u-section-2 .u-tabs-1 {
  min-height: 468px;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-2 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-item-3 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 792px 0 0;
}

.u-section-2 .u-table-1 {
  width: 1023px;
  margin: 30px 27px 0 auto;
}

.u-block-190d-39 {
  background-image: none;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: -48px 0 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 792px 0 0;
}

.u-section-2 .u-table-2 {
  width: 1023px;
  margin: 30px 27px 0 auto;
}

.u-block-190d-165 {
  background-image: none;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  margin: -48px 0 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 792px 0 0;
}

.u-section-2 .u-table-3 {
  width: 1023px;
  margin: 30px 27px 0 auto;
}

.u-block-190d-262 {
  background-image: none;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  margin: -48px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 592px;
  }

  .u-section-2 .u-table-1 {
    width: 880px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 592px;
  }

  .u-section-2 .u-table-2 {
    width: 880px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 592px;
  }

  .u-section-2 .u-table-3 {
    width: 880px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 372px;
  }

  .u-section-2 .u-table-1 {
    width: 660px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 372px;
  }

  .u-section-2 .u-table-2 {
    width: 660px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 372px;
  }

  .u-section-2 .u-table-3 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 232px;
  }

  .u-section-2 .u-table-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 232px;
  }

  .u-section-2 .u-table-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 232px;
  }

  .u-section-2 .u-table-3 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 32px;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 32px;
  }

  .u-section-2 .u-table-2 {
    width: 320px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 32px;
  }

  .u-section-2 .u-table-3 {
    width: 320px;
  }
}.u-section-3 {
  background-image: url("images/ewr-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 504px;
}

.u-section-3 .u-group-1 {
  width: 503px;
  min-height: 364px;
  background-image: none;
  margin: 48px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: Ubuntu, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 0;
}

.u-section-3 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 20px 0 0 auto;
  padding: 9px 30px;
}

.u-section-3 .u-list-1 {
  min-height: 400px;
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-template-rows: auto;
  width: 600px;
  grid-gap: 20px 20px;
  margin: -382px 0 0 auto;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-9 {
  padding: 10px;
}

.u-section-3 .u-text-10 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,43,51,0.7);
}

.u-section-3 .u-container-layout-10 {
  padding: 10px;
}

.u-section-3 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  font-weight: bold;
  background-image: none;
  margin: 0;
}

.u-section-3 .u-shape-1 {
  width: 30px;
  height: 120px;
  margin: -400px auto 0 933px;
}

.u-section-3 .u-shape-2 {
  width: 30px;
  height: 120px;
  margin: 20px auto 0 933px;
}

.u-section-3 .u-shape-3 {
  width: 30px;
  height: 120px;
  margin: 20px auto 0 933px;
}

.u-section-3 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -360px 384px 0 auto;
}

.u-section-3 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 100px 384px 0 auto;
}

.u-section-3 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,1);
  margin: 100px 384px 0 auto;
}

.u-section-3 .u-text-12 {
  font-weight: 500;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 63px 0 23px auto;
}

.u-section-3 .u-shape-4 {
  width: 250px;
  height: 219px;
  margin: 30px 0 60px auto;
}

.u-section-3 .u-shape-5 {
  width: 180px;
  height: 30px;
  margin: 30px auto 0 80px;
}

.u-section-3 .u-shape-6 {
  width: 180px;
  height: 30px;
  margin: 30px auto 60px 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3 .u-group-1 {
    width: 500px;
    margin-top: 30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    padding: 8px 33px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    height: auto;
    margin-top: 30px;
    margin-right: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 183px;
    margin-left: 727px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: 183px;
    margin-left: 727px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: 183px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-right: auto;
    margin-left: 504px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: auto;
    margin-left: 504px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: auto;
    margin-left: 504px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-right: auto;
    margin-left: 493px;
  }

  .u-section-3 .u-shape-2 {
    margin-right: auto;
    margin-left: 493px;
  }

  .u-section-3 .u-shape-3 {
    margin-right: auto;
    margin-left: 493px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 276px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 276px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-shape-1 {
    height: 111px;
    margin-top: -399px;
    margin-left: 353px;
  }

  .u-section-3 .u-shape-2 {
    height: 135px;
    margin-top: 19px;
    margin-left: 353px;
  }

  .u-section-3 .u-shape-3 {
    height: 111px;
    margin-top: 23px;
    margin-left: 353px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -364px;
    margin-left: 156px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 105px;
    margin-left: 156px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 105px;
    margin-left: 156px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 59px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 30px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-list-1 {
    min-height: 826px;
    grid-template-columns: 100%;
    width: 200px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 23px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -762px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 241px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 243px;
    margin-left: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: 181px;
    margin-bottom: 0;
  }

  .u-section-3 .u-shape-4 {
    width: 200px;
    height: 25px;
    margin-top: -737px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-shape-5 {
    width: 200px;
    height: 25px;
    margin-top: 257px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-6 {
    width: 200px;
    height: 25px;
    margin-top: 257px;
    margin-left: auto;
  }
}.u-section-4 {
  background-image: url("images/gindaco-restaurant.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1900px;
}

.u-section-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 310px;
  pointer-events: auto;
  transition-duration: 4.75s;
}

.u-section-4 .u-image-1 {
  background-image: url("images/hiragana-blocks.jpg");
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  margin: 20px auto 0 0;
  padding: 9px 30px;
}

.u-section-4 .u-layout-wrap-2 {
  pointer-events: auto;
  width: 1140px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-image-2 {
  background-image: url("images/et-min.jpg");
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  margin: 20px auto 0 0;
  padding: 9px 30px;
}

.u-section-4 .u-layout-wrap-3 {
  pointer-events: auto;
  width: 1140px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-image-3 {
  background-image: url("images/fg1.jpg");
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-5 {
  margin: 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 9px 30px;
}

.u-section-4 .u-layout-wrap-4 {
  pointer-events: auto;
  width: 1140px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-image-4 {
  background-image: url("images/d.jpg");
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin: 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 9px 30px;
}

.u-section-4 .u-layout-wrap-5 {
  pointer-events: auto;
  width: 1140px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-9 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-image-5 {
  background-image: url("images/ds.jpg");
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-10 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin: 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-5 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 9px 30px;
}

.u-section-4 .u-layout-wrap-6 {
  pointer-events: auto;
  width: 1140px;
  margin: 20px auto 30px 0;
}

.u-section-4 .u-layout-cell-11 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-image-6 {
  background-image: url("images/rgerg.jpg");
}

.u-section-4 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-4 .u-layout-cell-12 {
  min-height: 310px;
  pointer-events: auto;
}

.u-section-4 .u-container-layout-12 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-4 .u-text-11 {
  margin: 0;
}

.u-section-4 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-6 {
  border-style: none;
  font-size: 1rem;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 9px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-wrap-4 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-wrap-5 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-wrap-6 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 256px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-5 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-wrap-6 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 196px;
  }

  .u-section-4 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2515px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-wrap-6 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 368px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1699px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 185px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 185px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 185px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 185px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-9 {
    min-height: 185px;
  }

  .u-section-4 .u-layout-cell-10 {
    min-height: 385px;
  }

  .u-section-4 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-4 .u-layout-wrap-6 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-11 {
    min-height: 185px;
  }

  .u-section-4 .u-btn-6 {
    margin-left: auto;
  }
}