 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/BPY3qA.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 192px;
}

.u-section-1 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  width: 693px;
  text-shadow: 0 0 8px rgba(0,0,0,1);
  margin: 35px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0 0 8px rgba(0,0,0,1);
  width: 672px;
  margin: 20px auto 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 121px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 136px;
}

.u-section-2 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 380px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 136px;
}

.u-section-4 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 381px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 381px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-6 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-6 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-6 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 381px;
}

.u-section-7 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 136px;
}

.u-section-8 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-8 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 380px;
}

.u-section-9 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-9 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-9 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-9 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
  }

  .u-section-9 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 380px;
}

.u-section-10 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-10 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-10 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-10 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-10 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 136px;
}

.u-section-11 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-11 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-11 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 380px;
}

.u-section-12 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-12 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-12 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-12 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-12 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
  }

  .u-section-12 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 380px;
}

.u-section-13 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-13 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-13 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-13 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-13 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
  }

  .u-section-13 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 380px;
}

.u-section-14 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-14 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-14 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-14 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-14 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-14 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-14 .u-text-1 {
    margin-left: 0;
  }

  .u-section-14 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 136px;
}

.u-section-15 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-15 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-15 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 380px;
}

.u-section-16 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-16 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-16 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-16 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-16 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-16 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-16 .u-text-1 {
    margin-left: 0;
  }

  .u-section-16 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 380px;
}

.u-section-17 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-17 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-17 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-17 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-17 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-17 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-17 .u-text-1 {
    margin-left: 0;
  }

  .u-section-17 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 136px;
}

.u-section-18 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-18 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-18 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-18 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 380px;
}

.u-section-19 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-19 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-19 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-19 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-19 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-19 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-19 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-19 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-19 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-19 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-19 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-19 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-19 .u-text-1 {
    margin-left: 0;
  }

  .u-section-19 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-20 .u-sheet-1 {
  min-height: 380px;
}

.u-section-20 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-20 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-20 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-20 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-20 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-20 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-20 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-20 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-20 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-20 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-20 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-20 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-20 .u-text-1 {
    margin-left: 0;
  }

  .u-section-20 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-21 .u-sheet-1 {
  min-height: 380px;
}

.u-section-21 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-21 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-21 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-21 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-21 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-21 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-21 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-21 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-21 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-21 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-21 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-21 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-21 .u-text-1 {
    margin-left: 0;
  }

  .u-section-21 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-22 .u-sheet-1 {
  min-height: 136px;
}

.u-section-22 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-22 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-22 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-22 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-23 .u-sheet-1 {
  min-height: 380px;
}

.u-section-23 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-23 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-23 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-23 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-23 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-23 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-23 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-23 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-23 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-23 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-23 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-23 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-23 .u-text-1 {
    margin-left: 0;
  }

  .u-section-23 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-24 .u-sheet-1 {
  min-height: 380px;
}

.u-section-24 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-24 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-24 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-24 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-24 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-24 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-24 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-24 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-24 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-24 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-24 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-24 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-24 .u-text-1 {
    margin-left: 0;
  }

  .u-section-24 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-25 .u-sheet-1 {
  min-height: 380px;
}

.u-section-25 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-25 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-25 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-25 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-25 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-25 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-25 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-25 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-25 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-25 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-25 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-25 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-25 .u-text-1 {
    margin-left: 0;
  }

  .u-section-25 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-26 .u-sheet-1 {
  min-height: 136px;
}

.u-section-26 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-26 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-26 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-26 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-27 .u-sheet-1 {
  min-height: 381px;
}

.u-section-27 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-27 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-27 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-27 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-27 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-27 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-27 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-27 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-27 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-27 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-27 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-27 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-27 .u-text-1 {
    margin-left: 0;
  }

  .u-section-27 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-28 .u-sheet-1 {
  min-height: 136px;
}

.u-section-28 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-28 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-28 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-28 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-29 .u-sheet-1 {
  min-height: 381px;
}

.u-section-29 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-29 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-29 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-29 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-29 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-29 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-29 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-29 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-29 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-29 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-29 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-29 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-29 .u-text-1 {
    margin-left: 0;
  }

  .u-section-29 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-30 .u-sheet-1 {
  min-height: 381px;
}

.u-section-30 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-30 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-30 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-30 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-30 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-30 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-30 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-30 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-30 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-30 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-30 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-30 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-30 .u-text-1 {
    margin-left: 0;
  }

  .u-section-30 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-31 .u-sheet-1 {
  min-height: 136px;
}

.u-section-31 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-31 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-31 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-31 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-32 .u-sheet-1 {
  min-height: 381px;
}

.u-section-32 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-32 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -163px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-32 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-32 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-32 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-32 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-32 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-32 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-32 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-32 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-32 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-32 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-32 .u-text-1 {
    margin-left: 0;
  }

  .u-section-32 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-33 .u-sheet-1 {
  min-height: 136px;
}

.u-section-33 .u-image-1 {
  width: 289px;
  height: 71px;
  text-align: center;
  margin: 37px 410px 0 auto;
}

.u-section-33 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -64px auto 44px;
}

@media (max-width: 767px) {
  .u-section-33 .u-image-1 {
    margin-right: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-33 .u-image-1 {
    margin-right: 51px;
  }
}.u-section-34 .u-sheet-1 {
  min-height: 380px;
}

.u-section-34 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-34 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -113px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-34 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-34 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-34 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-34 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-34 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-34 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-34 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-34 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-34 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-34 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-34 .u-text-1 {
    margin-left: 0;
  }

  .u-section-34 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-35 .u-sheet-1 {
  min-height: 380px;
}

.u-section-35 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-35 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-35 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-35 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-35 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-35 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-35 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-35 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-35 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-35 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-35 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-35 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-35 .u-text-1 {
    margin-left: 0;
  }

  .u-section-35 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}.u-section-36 .u-sheet-1 {
  min-height: 380px;
}

.u-section-36 .u-text-1 {
  background-image: none;
  font-weight: normal;
  text-align: left;
  margin: 30px 30px 0 600px;
}

.u-section-36 .u-image-1 {
  width: 570px;
  height: 321px;
  text-align: start;
  margin: -138px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-36 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-36 .u-text-1 {
    margin-right: 0;
    margin-left: 430px;
  }

  .u-section-36 .u-image-1 {
    width: 470px;
    height: 264px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-36 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-36 .u-text-1 {
    margin-left: 210px;
  }

  .u-section-36 .u-image-1 {
    width: 360px;
    height: 202px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-36 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-36 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-36 .u-image-1 {
    width: 270px;
    height: 152px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-36 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-36 .u-text-1 {
    margin-left: 0;
  }

  .u-section-36 .u-image-1 {
    width: 170px;
    height: 96px;
    margin-left: 0;
  }
}